<body>
  <div class="content">
    <!-- Your website content goes here -->
  </div>

  <footer class="footer">
    <p>Contact us on TikTok, Email, and Instagram:</p>
    <div class="social-icons">
      <a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a>
      <a href="mailto:contact@example.com" target="_blank"><i class="far fa-envelope"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <!-- Add new buttons below -->
    <div class="custom-buttons">
      <a routerLink="termandcondition" class="custom-button"><i class="fas fa-star"></i> Term&Condition</a>
      <a routerLink="Policy" class="custom-button"><i class="fas fa-heart"></i>Privacy policy</a>
    </div>
  </footer>
</body>

