<div >




  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->



    <!-- Three columns of text below the carousel -->
   <!-- /.row -->


    <!-- START THE FEATURETTES -->


    <div class="row backgroundPic">
      <div class="aligment">
        <div   class="col-md-7">
          <h2 style="    margin-top: 21%;" class="color"> Enhance your investment <span class="text-color">Expertise from our Professional Team.</span></h2>
          <p class="color">We offer daily Crypto & Forex market information derived from Technical Analysis & Pertinent Indicators.</p>
          <div class="align">
            <p class="lead">
              <a routerLink="pricing" class="btn btn-lg btn-primary fw-bold">View Service</a>
            </p>
              <p class="lead">
                <a routerLink="pricing" class="btn btn-lg btn-primary fw-bold">Join Telegram</a>
              </p>
          </div>


        </div>
      </div>

      <!-- <div class="col-md-5">
        <img src="../../../assets/jumbo_mod2-2-759x1024.png" alt="" srcset="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div> -->
    </div>



    <div class="row blackgroundcolor">
      <div class="col-md-7 order-md-2">
        <h2 style="    margin-top: 21%;" class="color">Highly Experienced &<span class="text-color">Trustworthy market Analysts.</span></h2>
        <p class="color">SSA crypto Signals is here to assist you in enhancing your knowledge and understanding of the Crypto and Forex markets.</p>
        <p class="goldColor">We comprise a team of seasoned analysts delivering top-notch reports on Crypto and Forex markets. Through our analyses, you can acquire knowledge and independently determine the optimal investment choices</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../assets/new.png" alt="" srcset="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div>
    </div>






    <div style="background-color: black;" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main class="px-3">
        <div class="content">
          <img src="../../../assets/jjjjjjjj.png" alt="WOLFX Signals Logo">
          <h1>SSA Crypto Signals has helped over</h1>
          <h1 style="color: #7c6e20; font-size: 45px;">8000</h1>
          <h1 style="color: aliceblue;">Happy Clients</h1>
          <p class="goldColor">For over 5 years, we have been extending our services to both Investors and Businesses, benefiting more than 80 thousand Satisfied Customers to date. Our extensive experience of over 10 years in Crypto and Forex Markets underpins our commitment. Our aim is to provide you with Quality Professional Services and, leveraging our knowledge, endeavors, and expertise, to facilitate your journey toward becoming an informed investor</p>
          <p class="lead">
            <button routerLink="/pricing"class="btn btn-lg btn-primary fw-bold">View Service</button>
          </p>
        </div>
      </main>
    </div>



    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <img src="../../../assets/icon10.png" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <h2>Short Term Reports</h2>
          <img src="" alt="">
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
          <img src="../../../assets/2.png" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <h2>1 to 4 Analysis per day</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
          <img src="../../../assets/3.png" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <h2>Telegram Live alerts</h2>
        </div><!-- /.col-lg-4 -->
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <img src="../../../assets/4.png" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <h2>Short Term Reports</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
          <img src="../../../assets/5.png" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <h2>1 to 4 Analysis per day</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 col-md-6">
          <img src="../../../assets/6.png" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
          <h2>Telegram Live alerts</h2>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>


    <div class="row blackgroundcolor">
      <div class="col-md-7 order-md-2">
        <h2 style="    margin-top: 21%;" class="color">Real-time Telegram alerts.<h4 class="text-color">"Receive each analysis and pertinent update directly in your Telegram inbox.</h4></h2>
        <p class="goldColor">Analyses are exclusively disseminated through our Free and Premium Telegram channels to ensure prompt access to all the shared information via live alerts. The majority of content is distributed between 10am and 10pm (UTC+1), facilitating global client engagement and access to our insights.</p>

      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../../assets/2098.png" alt="" srcset="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div>
    </div>
    <div class="aligment" style="border-color: black;" class="row aligment ">
      <div    class="col-md-7">
        <h2 style="margin-left: 4%; margin-top: 21%; color: rgb(14, 13, 13);" class="color">We handle all the challenging work for you <span style="margin-left: 4%; color:rgb(11, 11, 11)" class="color" style="margin-left: 4%;">Expertise from Our Professional Team</span></h2>
        <h3 style="color:rgb(11, 11, 11) ;margin-left: 4%;"  class="color">Our team consists of analysts specialized in various domains, ensuring the delivery of high-quality analyses and reports to our clients.</h3>
        <p style="margin-left: 4%;" class="goldColor">Effective risk management is crucial for every investor in the Forex and Crypto markets. Uniquely, our group of analysts will provide you with recommendations and advice on risk management.</p>
      </div>
      <div class="col-md-5">
        <img src="../../../assets/787878.png" alt="" srcset="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div>
    </div>
    <div style="background-color: black;" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <main class="px-3">
        <div class="content">
          <h1 style="color: aliceblue;">There are numerous places to learn, but why choose us?</h1>
          <h3 style="color: #7c6e20; font-size: 45px;">Our Clarity and Experience Set Us Apart.</h3>
          <p class="goldColor">Most places for learning and obtaining information are overly technical and difficult to comprehend, resulting in a lack of true learning. However, we use simple, understandable language and provide you with a guide that explains everything.</p>
          <p class="lead">
            <button routerLink="/pricing" class="btn btn-lg btn-primary fw-bold">Explore Our Services</button>
          </p>
        </div>
      </main>
    </div>

  </div>

